body{
	background-color: rgb(204, 204, 204);
}

h1, h2{
	text-align: center;
}

.songs{
	background-color: white;
	list-style-type: none;
	justify-items: space-between;
	border: 2px solid black;
	box-sizing: border-box;
	border-radius: 10px;
	margin: 20px;
	padding: 20px;
}

a{
	text-decoration: none;
	color: black;
}

.section{
	background-color: rgb(255, 255, 255);
	margin: 40px ;
	padding: 10px;
	border: 1px solid black;
	box-sizing: border-box;
	border-radius: 10px;
	height: 100%;
}

video{
	width: 100%;
}
audio{
	width: 100%;
}